[Unit]
Description=Check DAV store for updates every 5 minutes
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec= 5min
OnUnitActiveSec= 5min
Unit=vdirsync.service

[Install]
WantedBy=default.target
