! vim: set ft=xdefaults:
! Set $TERM variable
URxvt.termName:             rxvt-unicode-256color

! Font
URxvt.font:                 xft:Literation Mono Powerline:size=10:antialias=true:hinting=true,\
                            xft:Noto Mono:size=10:antialias=true:hinting=true,\
                            xft:Noto Color Emoji,\
                            xft:Unifont,\
                            9x15
URxvt.letterSpace:          -1

! Fugly scrollbar
URxvt.scrollBar:            false

!Disables the insanely annoying Ctrl+Shift shortcut that enters ISO14755 mode
URxvt.iso14755:             false

! Perl extensions
URxvt.perl-ext-common:      default,matcher,selection-to-clipboard
URxvt.matcher.button:       1
URxvt.url-launcher:         firefox-developer

! Disable PrtSc-button print so we dont accidentally print all our source code
! several times over on the network printer again
URxvt.print-pipe:           cat > /dev/null

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Bell
URxvt*urgentOnBell:         true

! Pointer
URxvt.pointerBlank:         true


! Colors taken from deterenkelts dotfiles
! https://github.com/deterenkelt/dotfiles/blob/master/.Xresources
!
!! black
URxvt.color0:  #000000
URxvt.color8:  #555753

!! red
URxvt.color1:  #CC0000
URxvt.color9:  #EF2929

!! green
URxvt.color2:  #4E9A06
URxvt.color10:  #8AE234

!! yellow
URxvt.color3:  #C4A000
URxvt.color11:  #FCE94F

!! blue
URxvt.color4:  #3465A4
URxvt.color12:  #729FCF

!! magenta
URxvt.color5:  #75507B
URxvt.color13:  #AD7FA8

!! cyan
URxvt.color6:  #06989A
URxvt.color14:  #34E2E2

!! white
URxvt.color7:  #D3D7CF
URxvt.color15:  #EEEEEC

!! misc
URxvt.foreground: #AAAAAA
URxvt.background: #151515
URxvt.colorBD: #ffffff
URxvt.underlineColor: #75507B

