! vim: set ft=xdefaults:
! Set $TERM variable
URxvt.termName:             rxvt-unicode-256color

! Font
URxvt.font:                 xft:Liberation Mono for Powerline:size=10:antialias=true:hinting=true
URxvt.letterSpace:          -1

! Fugly scrollbar
URxvt.scrollBar:            false

!Disables the insanely annoying Ctrl+Shift shortcut that enters ISO14755 mode
URxvt.iso14755:             False

! Perl extensions
URxvt.perl-ext-common:      default,matcher,selection-to-clipboard
URxvt.matcher.button:       1
URxvt.url-launcher:         firefox-developer

! Disable PrtSc-button print so we dont accidentally print all our source code
! several times over on the network printer again
URxvt.print-pipe: cat > /dev/null

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Bell
URxvt*urgentOnBell:         true

! Pointer
URxvt.pointerBlank:         true

URvxt*depth:                32

! Colors based on http://dotshare.it/dots/199/ with changes
*foreground:                #EEEEEE

! Grey BG
*background:                #151515

!black
*color0:                    #393939
*color8:                    #AF875F
!red
*color1:                    #BF1E2D
*color9:                    #E7212A
!green
*color2:                    #9DBA3A
*color10:                   #A9C938
!yellow
*color3:                    #F5B915
*color11:                   #F7D325
!blue
*color4:                    #1CA1DB
*color12:                   #00AFDA
!magenta
*color5:                    #652F90
*color13:                   #894E9F
!cyan
*color6:                    #EA7D24
*color14:                   #F79321
!white
*color7:                    #E7E8E9
*color15:                   #F3F3F4

