! Font
URxvt.font:                xft:Liberation Mono for Powerline:pixelsize=14
URxvt.letterSpace:         -1

! Fugly scrollbar
URxvt.scrollBar: false

! Perl extensions
URxvt.perl-ext-common:      default,matcher,clipboard
URxvt.matcher.button:       1
URxvt.urlLauncher:          firefox-developer

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

! Colors
URxvt*background:          #000000
URxvt*foreground:          #babdb6
URxvt*cursorColor:         #E6EFF7

URxvt*color0:              #101218
URxvt*color1:              #ee829f
URxvt*color2:              #a5ffe1
URxvt*color3:              #ffefcc
URxvt*color4:              #97bbf7
URxvt*color5:              #c0b7f9
URxvt*color6:              #97e0ff
URxvt*color7:              #d1d4e0
URxvt*color8:              #7780a1
URxvt*color9:              #ee829f
URxvt*color10:             #a5ffe1
URxvt*color11:             #ffefcc
URxvt*color12:             #97bbf7
URxvt*color13:             #c0b7f9
URxvt*color14:             #97e0ff
URxvt*color15:             #ffffff
URxvt*color16:             #f99170
URxvt*color17:             #fcc09e
URxvt*color18:             #1f222d
URxvt*color19:             #252936
URxvt*color20:             #C0C5CE
URxvt*color21:             #C9CCDB

